pipeline1.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('AllJobsCreated_time')",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item(),max(variables('AllJobsCreated_time')))",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Set variable2",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "Index",
                                            "value": {
                                                "value": "@string(add(int(variables('IndexIncTemp')),1))",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Set variable3",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Set variable2",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "IndexIncTemp",
                                            "value": {
                                                "value": "@variables('Index')",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Set variable1",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "userProperties": [],
                                        "typeProperties": {
                                            "variableName": "JobName",
                                            "value": {
                                                "value": "@variables('AllJobsNames')[int(variables('Index'))]",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            }
        ],
        "variables": {
            "AllJobsNames": {
                "type": "Array",
                "defaultValue": [
                    "a",
                    "b",
                    "c",
                    "d"
                ]
            },
            "AllJobsCreated_time": {
                "type": "Array",
                "defaultValue": [
                    2,
                    7,
                    4,
                    5
                ]
            },
            "JobName": {
                "type": "String"
            },
            "Index": {
                "type": "String",
                "defaultValue": "0"
            },
            "IndexIncTemp": {
                "type": "String",
                "defaultValue": "0"
            }
        },
        "annotations": []
    }
}
